* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'MuseoModerno', cursive;}

main {    
    width: 100vw;
    background-color: #101820FF;
}

.header-container {
    height: 250px;
    box-shadow: 0 2px 5px rgb(82, 82, 82);
    background-color: #FEE715FF;
    position: relative;
}

header {
    height: 100%;
    position: absolute;
    right: 24%;
    display: flex;
    overflow: visible;
    align-items: center;
    justify-content: flex-end;
}

.header-container #left {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 80px;
}

.img-container {
    margin-left: 1in;
    height: inherit;
    border-radius: 200px;
    overflow: hidden;
    width: 200px;
    height: 200px;
    border: 2px solid #101820FF;
    box-shadow: 2px 2px 10px;
    float: left;
    
}

.img-container img {
    width: 450px;
    position: relative;
    left: -120px;
    top: -65px;
}

.name-title {
    margin-left: 90px;
    float: left;
    color: #101820FF;
    text-align: right;
    font-size: 50px;
    font-weight: bold;
    position: relative;
    color: #101820FF;
    
}

.title {
    font-size: 20px;
}


.dividor {
    height: 90%;
    width: 3px;
    background-color: #101820FF;
    float: left;
}

.header-container #right {
    float: left;
    position: relative;
    left: 80px;
}

.header-info div {
    display: inline-block;
}

.header-info div a {
    color: #101820FF;
    text-decoration: none;
}

.header-info img {
    width: 20px;
    position: relative;
    top: 4px;
    right: 10px;
    margin-top: 10px;
}

/* Resume Section */
.resume-info {
    height: calc(300vh - 250px);
    width: 100%;
    color: #101820FF;
    display: grid;
    grid-template-columns: 51.5% 48.5%;
    grid-template-rows: 30% 35%;
    align-items: center;
}

.resume-info ul {
    list-style: none;
    text-align: center;
}

.resume-info li {
    margin: 20px 0px;
    border-radius: 5px;
    box-shadow: -1px -1px gray;
    border: 1px solid black;
}

.resume-container {
    width: 80%;
}

.resume-container p, .resume-container ul {
    font-size: 18px;
}


.left-container {
    justify-self: end;
    margin-right: 80px;
    text-align: right;

}

.right-container {
    justify-self: start;
    margin-left: 80px;
    
}

.left-container h1 {
    text-align: right;
    right: 0px;
    
}

.left {
    border: solid 1px black;
    box-shadow: 2px -2px #FEE715FF;
}

.right {
    border: solid 1px black;
    box-shadow: -2px -2px #FEE715FF;
}

.info  {
    background-color: white;
    border-radius: 10px;
    position: relative;
    padding: 20px; 
}

.resume-info .left-container h1 {
    text-shadow: 
    
    1px 1px black,
    -1px 1px black,
    1px -1px black,
    -1px -1px black,
    2px -2px #FEE715FF
    ;
}

.resume-info .left-container h2 {
    color: rgb(233, 212, 20);
    text-shadow: 
    0.5px 0.5px #101820FF,
    -0.5px 0.5px #101820FF,
    0.5px -0.5px #101820FF,
    -0.5px -0.5px #101820FF,
    2px -2px 0px #101820FF;
}

.resume-info .right-container h1 {
    text-shadow: 
    
    1px 1px black,
    -1px 1px black,
    1px -1px black,
    -1px -1px black,
    -2px -2px #FEE715FF
    ;   
}

.resume-info .right-container h2 {
    color: rgb(233, 212, 20);
    text-shadow: 
    0.5px 0.5px #101820FF,
    -0.5px 0.5px #101820FF,
    0.5px -0.5px #101820FF,
    -0.5px -0.5px #101820FF,
    -2px -2px 0px #101820FF;
}

.resume-info h1 {
    color: white;
    position: relative;
    
}

.education-info {
    height: 100%;
}

.work {
    grid-row: 2 / span 1;
    grid-column: 1/ 3;
    text-align: center;
    justify-self: center;
}

.projects {
    grid-row: 3 / span 1;
    grid-column: 1/ span 2;
    text-align: center;
    justify-self: center;
}

.languages {
    align-self: center;
}


.resume-container h3 {
    font-size: 24px;
}

.info div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}



.info div.space-evenly {
    justify-content: space-evenly;
}

.education-info div {
    margin-bottom: 0;
}
